[project]
	description = "Experimental GitHub read-only mirror of ns-3 development repository, will be kept in sync with original Mercurial repository; pull requests not accepted at the moment"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Natale Patriciello (kronat)
[access "refs/for/refs/*"]
	read = group user/Natale Patriciello (kronat)
	push = group user/Natale Patriciello (kronat)
	label-Code-Review = -2..+2 group user/Natale Patriciello (kronat)
	label-Verified = -1..+1 group user/Natale Patriciello (kronat)
	rebase = group user/Natale Patriciello (kronat)
	removeReviewer = group user/Natale Patriciello (kronat)
	submit = group user/Natale Patriciello (kronat)
[access "refs/heads/*"]
	read = group user/Natale Patriciello (kronat)
	create = group user/Natale Patriciello (kronat)
	push = +force group user/Natale Patriciello (kronat)
	pushMerge = group user/Natale Patriciello (kronat)
[access "refs/tags/*"]
	push = +force group user/Natale Patriciello (kronat)
	pushTag = group user/Natale Patriciello (kronat)
	pushSignedTag = group user/Natale Patriciello (kronat)
